.author-main{
    text-align: center;
    padding: 1rem;
    background:#fff;
    border-radius:.3rem;
    margin:0;
}
.author-main div{
    margin-bottom: 1rem;

}
.author-information{
    font-size:.8rem;
    color: #999;
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}